* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: #4A4A4A; /* Color de texto más claro */
}

#contenedor-cv {
    display: grid;
    grid-template-columns: 350px 1fr; /* Se adapta al espacio disponible */
    max-width: 1000px;
    margin: 20px auto;
    background: #ffffff;
    border: 1px solid #2c3e50; /* Cambié a borde más ligero */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

#barra-lateral {
    background-color: #2c3e50;
    color: white;
    padding: 32px; /* Simplificado el relleno */
}

.perfil img {
    width: 150px; /* Tamaño más adecuado */
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.perfil h1 {
    font-size: 24px; /* Aumenté el tamaño del título */
    margin-bottom: 16px; /* Reduje el margen */
}

#barra-lateral h2 {
    font-size: 18px; /* Ajustado */
    border-bottom: 2px solid white;
    margin: 24px 0 10px; /* Ajustado margen */
}

.contactos ul {
    list-style: none;
    padding-left: 0; /* Aclarado el espaciado */
}

.contactos li {
    margin-bottom: 8px;
}

.Referencias {
    margin-bottom: 20px; /* Ajustado */
}

.contenido-principal {
    padding: 48px;
    background-color: #f6f9fc; /* Fondo más claro para destacar */
}

.contenido-principal section {
    margin-bottom: 40px; /* Ajustado */
}

.contenido-principal h2 {
    color: #2c3e50;
    font-size: 20px; /* Ajuste para mejor visibilidad */
    font-weight: bold;
    margin-bottom: 20px;
}

.contenido-principal p,
.contenido-principal li {
    font-size: 16px;
    color: #555; /* Color de texto más claro */
}

.Educacion,
.Habilidades,
.Idiomas,
.Experiencia {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 2px solid #2c3e50; /* Borde más ligero */
}

.Educacion h3,
.Habilidades h3,
.Idiomas h3,
.Experiencia h3 {
    font-size: 16px; /* Aumentado tamaño de subtítulo */
    color: #2c3e50;
    margin-bottom: 10px;
}

.Educacion ul,
.Habilidades ul,
.Idiomas ul {
    list-style: none;
}

.Educacion p,
.Habilidades li,
.Idiomas li {
    margin-bottom: 8px; /* Espaciado más uniforme */
    font-size: 15px;
    color: #555; /* Color uniforme */
}

#Contenedor-Habilidades{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 20px; /* Espacio entre columnas */
}

.Habilidades h2{
    margin-bottom: 20px;
}

.Habilidades-tecnicas h3,
.Habilidades-blandas h3 {
    font-size: 16px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.Habilidades-tecnicas ul,
.Habilidades-blandas ul{
    list-style: none;
}
